body{
	background: #F3F2F0;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
	margin-bottom: 0px;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	color: #8B8B8B;
	margin-top: 0px;
}

.header-strip{
	text-align: center;

}

ul {
	padding: 0px;

}



li {
	display: inline;
	float: left;

}


.project-details {
	text-align: center;
	color: #8B8B8B;
	font-size: .8em;
	padding-left: 320px;
	padding-right: 320px;
	width: 639px;
}

.text{
	height: 200px;
}
.carasoul #image-container img {
	border-radius: 150px;
	margin-left: 5px;
	margin-bottom: 10px;

}

.carasoul #image-container img:hover {
	border: 5px solid #A29CF6;
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
}

#image-container {
	height: 210px;
	width: 1055px;
	overflow: hidden;

}

.clicked {
	-webkit-transform:translateX(-200px);
	-webkit-transition-property: translateX;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;	
}

.previous, .next {
	position: relative;
	display: block;
	z-index: 10;
}

.previous {
	top: 80px;
	text-align: right;

}

.next{
	top: 80px;
	text-align: left;
}

.project-details .code-fusion {
	display:none;
}

.project-details .bacon {
	display:none;
}

.project-details .star-fours {
	display:none;
}
.project-details .twitter {
	display:none;
}
.project-details .linkedin {
	display:none;
}
.project-details .github {
	display:none;
}
.project-details .beard {
	display:none;
}
